@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-7">
            <h1>Voting System</h1>
            <p class="lead">Voting system for you election.</p>
            @if (!this.User.IsInRole("Admin") && !this.User.IsInRole("User"))
            {
                <p class="lead">To use the system, please log in with email and password, if you not register, you can register into system.</p>

            }
            <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img src="@Url.Content("~/Content/Images/vote.png")" alt ="Vote" style="width:400px;height:auto;"  />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Settings</h2>
        <p>
            Change your personal information and password.
        </p>
        <img src="@Url.Content("~/Content/Images/settings.png")" alt="Vote" style="width:150px;height:auto;" />

        @Html.ActionLink("My Settings", "MySettings", "User", null,new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>My Votings</h2>
        <p>Vote for the different candidates.</p>
        <img src="@Url.Content("~/Content/Images/myVoting.png")" alt="Vote" style="width:150px;height:auto;" />

        @Html.ActionLink("My Votings", "MyVotings", "Votings", null, new { @class = "btn btn-warning" })
    </div>
    <div class="col-md-4">
        <h2>Results</h2>
        <p>See the votation results.</p>
        <img src="@Url.Content("~/Content/Images/results.png")" alt="Vote" style="width:150px;height:auto; display:inline-block" />

        @Html.ActionLink("Results", "Results", "Votings", null, new { @class = "btn btn-info" })
    </div>
</div>
